<p><%= link_to "edit this article", edit_article_path(@article) %></p>

<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<p><%= link_to "back to list", articles_path() %></p>
<%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
